* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ) !important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,
body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: auto; /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: auto;
}
html {
  touch-action: manipulation !important;
  -ms-touch-action: manipulation !important;
}
body {
  -webkit-overflow-scrolling: touch;
  padding-top: constant(safe-area-inset-top); /* 針對ios APP */
  padding-right: constant(safe-area-inset-right); /* 針對ios APP */
  padding-bottom: constant(safe-area-inset-bottom); /* 針對ios APP */
  padding-left: constant(safe-area-inset-left); /* 針對ios APP */
  top: 0 !important;
}

:lang(en) * {
  letter-spacing: inherit !important;
}

:lang(en) .warning-bar-inner font {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

:lang(en).menu-list .btn {
  font-size: 0.75rem;
}

:lang(en) .m-logo img {
  width: 120px;
}

:lang(en) .news-list-sec .card-body p.text-3 {
  font-size: 0.8rem !important;
  line-height: 1.2rem;
}

:lang(en) .merch-type-area .text-1 {
  font-size: 1.4rem !important;
  text-transform: uppercase;
}

:lang(en) .merch-area .thumb-info-inner.text-6 {
  font-size: 1.3rem !important;
  letter-spacing: 0.1rem !important;
  line-height: 1.7rem !important;
}

:lang(en) .article-contnet p,
.feature-box-info li {
  letter-spacing: inherit;
}

:lang(en) .knowledge-list-header {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

:lang(en) .member-favorite .inquiry-list-header {
  font-size: 0.9rem !important;
}

:lang(en) .subtitle-set,
:lang(en) .title-line {
  display: none !important;
}

:lang(en) .about-article-contnet p {
  font-size: 14px;
  line-height: 1.7rem;
  text-align: start;
}

:root {
  --font: "Microsoft JhengHei", -apple-system, "Helvetica Neue", Helvetica,
    "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
    "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei",
    "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei,
    "WenQuanYi Zen Hei Sharp", sans-serif, "DM Serif Text", "Noto Serif TC",
    serif, "Noto Sans TC";
  --main: #0B1F3A;
  --second: #173A5E;
  --tertiary: #F5F7FA;;

  /* --maindark:;
    --maindlight:;
    --seconddark:;
    --seconddlight:; */
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 3px;
}

::-webkit-scrollbar:horizontal {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 0, 32,.5);
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/*
| ----------------------------------------------------
| responsive
| ----------------------------------------------------
*/
@media (max-width: 1500px) {
}

@media (max-width: 1367px) {
}

@media (max-width: 1181px) {
}

@media (max-width: 1024px) {
  :lang(en) .warning-bar-inner font {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  :lang(en) .wine-type-area .top-40 {
    top: 30% !important;
  }
  :lang(en) .about-article-contnet p {
    font-size: 13px;
    line-height: 1.5rem;
    text-align: start;
  }
}

@media (max-width: 913px) {
}

@media (max-width: 821px) {
}

/*surface duo*/
@media only screen and (max-width: 540px) and (min-width: 431px) {
}

/*iphone plus*/
@media (max-width: 430px) {
  :lang(en) .merch-type-area .text-1,
  .subtitle-set {
    line-height: 1.8rem;
    margin-top: 0.4rem;
  }
}

/*iphone: 7px*/
@media (max-width: 400px) {
  :lang(en) .list.list-icons li:last-child.text-4 {
    font-size: 13px !important;
  }
}

/*Glalaxy z Fold 5*/
@media (max-width: 361px) {
  :lang(en) .wine-type-area .top-40 {
    top: 20% !important;
  }
}

/*iphone 5*/
@media (max-width: 321px) {
}

/*iPhone XR*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

/*iPhone XS*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

/*iPhone XS Max*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}

/*Nest hub*/
@media only screen and (device-width: 1024px) and (device-height: 600px) and (-webkit-device-pixel-ratio: 2) {
}

/*Nest hub max*/
@media only screen and (device-width: 1280px) and (device-height: 800px) and (-webkit-device-pixel-ratio: 2) {
}

/*橫拿*/
@media screen and (orientation: landscape) {
}
/*縱拿*/
@media screen and (orientation: portrait) {
}
/*設備寬高比*/
@media screen and (device-aspect-ratio: 16/9) {
}
